# Python
*.pyc
__pycache__/

# Django
*.sqlite3
media/
*.log
*.pot
*.py[cod]

# Environments
env/
venv/
ENV/
.venv/
.env
# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db




# Static files
staticfiles/
